    @charset "UTF-8";
/* CSS Document */

*{
margin: 0;
padding: 0;
box-sizing: border-box;}

body{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/* font-family:"Petco Circular CAP TT";
font-weight: 400; */
font-style: normal;}

/* murcielago */
#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* no bloquea clics */
    overflow: hidden;
    z-index: 1;
  }

  .bat-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1;
  }

  .bat {
    width: 50px;
    height: 50px;
    background-size: cover;
    --scale: 1;
    animation-name: wiggle;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .from-left .bat {
    background-image: url('https://www.petco.com.mx/medias/murcielago-izquierda.svg?context=bWFzdGVyfHJvb3R8MTE2MHxpbWFnZS9zdmcreG1sfGFHUTNMMmhqTWk4eE1URTNOekl5TURnek16TXhNQzl0ZFhKamFXVnNZV2R2WDJsNmNYVnBaWEprWVM1emRtY3xmZWJmZDZkNjI4MTQ2YjExZTFhZmU1MTM1YzIzMDY2N2EyNTIwMDA5YjNhY2NjNGZmOGNlNjlmYzY1ZmYwMTY5');
  }

  .from-right .bat {
    background-image: url('https://www.petco.com.mx/medias/murcielago-derecha.svg?context=bWFzdGVyfHJvb3R8NzU2fGltYWdlL3N2Zyt4bWx8YURnMUwyaGpNeTh4TVRFM056SXlNRGc1T0RnME5pOXRkWEpqYVdWc1lXZHZYMlJsY21WamFHRXVjM1pufDUxNDA3NDQyNWE3ODExODMzOTRjMjI2M2Q1ODhhZDAzMzk4NDMwNzEyYTQyNmY4YTAzZjIxMmQwNTUwMTk0Yzc');
  }

  @keyframes flyRight {
    0% { transform: translateX(0) translateY(0); opacity: 1; }
    100% { transform: translateX(100vw) translateY(-50vh); opacity: 0; }
  }

  @keyframes flyLeft {
    0% { transform: translateX(0) translateY(0); opacity: 1; }
    100% { transform: translateX(-100vw) translateY(-50vh); opacity: 0; }
  }

  @keyframes wiggle {
    0% { transform: scale(var(--scale)) rotate(-30deg); }
    25% { transform: scale(var(--scale)) rotate(30deg); }
    50% { transform: scale(var(--scale)) rotate(-25deg); }
    75% { transform: scale(var(--scale)) rotate(25deg); }
    100% { transform: scale(var(--scale)) rotate(-30deg); }
  }
        /* murcielago */

.img-flecha-articulos-nuevo-tendencia-home {
            width: 16px;
            margin: 3px 0 0 8px
        }
button{font-family:"Petco Circular CAP TT";}
.btn-articulos-nuevo-tendencia-home-h {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: transparent;
            border: none;
            margin-top: 10px;
        }
        #vida{display: block;}
        #vidas{display: none;}
        #blqu{
            display: block;
        }
.text-let{
    margin-left: 17px !important;
}
.text-lett{
    margin-left: 35px !important;
}
.ancla-fav{
       
    color: #00205B;
text-decoration:none; cursor:pointer; 
 }
.ancla-fav:hover .texto-select-fav  {
 font-weight: 700; 
}
.ancla-fav:hover .texto-select-fav2  {
 font-weight: 700; 
}
.ancla-fav:hover .text-product-favorito-act {
 font-weight: 700; 
}

.ancla-fav:hover .texto-novedades-fav-act {
 font-weight: 700; 
}
.max-width {
    max-width: 100% !important;
}
#mobbd{
    display: none !important;
}

#mobbdd{
    display: none !important;
}
.caja-text-2banner-home {
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .subtitulo2-articulos-nuevo-tendencia-home-h{
            color: #00205B;
            font-weight: 400;
            font-size: 15px;
            margin-top: 5px;
            text-transform: uppercase;
        }
        .banner-full-fav-act1:hover .subtitulo2-articulos-nuevo-tendencia-home-h{
            font-weight: 700;}
        .subtitulo-articulos-nuevo-tendencia-home-h {
            color: #00205B;
            font-weight: 400;
            font-size: 16px;
        }
        .banner-full-fav-act1:hover .subtitulo-articulos-nuevo-tendencia-home-h{
            font-weight: 700;}
        
.taeb-switch {
    position: relative;}
    
    .taeb-switch:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
    border-radius: 27.5px;
    box-shadow: 2.5px 0px 2px 0px #0000001A;
    background-color: #00205B;
    height: 100%;
    z-index: 0;}
    
    .taeb-switch.left:after {
    left: 0;}
    
    .taeb-switch.right:after {
    left: 50%;}
    
    .taeb-switch .taeb {
    display: inline-block;
    width: 50%;
    padding: 15px 0;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    font-size: 16px;
    line-height: normal;
    user-select: none;
    text-align: center;
    color:#00205B;
    font-weight: 400;}
    
    .taeb-switch .taeb.active {
    color: #ffffff;
    font-weight: 800;}
    
    .caja-tab-vetco{
    border-radius:40px;
    background-color:#EAEAEA;
    width: 60%;
    max-width: 80%;
    margin:20px auto 0;}
    
    /*----button switch*/

.contenido-favoritos-act-24{
width:100%;
margin:0 auto;}

.img-desk-fav-act{
width:100%;
margin:0 auto;
display: block;}

.img-mobile-fav-act{
display: none;}

.img-select-fav-desk{
       border: 3px solid transparent;
  border-radius: 10px;
     
  cursor: pointer;
width:100%;
margin:0 auto;
display: block;
border-radius: 10px;}
.img-select-fav-desk:hover {
  border: 3px solid #00205B; /* borde azul en hover */
}

.img-select-fav-mobile{
display: none;}

.img-select-fav-desk1{
    display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
     border: 3px solid transparent;
  border-radius: 10px;
     
  cursor: pointer;}
    .img-select-fav-desk1:hover {
  border: 3px solid #00205B; /* borde azul en hover */
}
    .img-select-fav-mobile1{
    display: none;}

.box-seleccion-fav-act{
width:100%;
margin:0 auto;
background-color: #00205B;
height: 180px;}

.caja-int-select-fav-act{
width:1400px;
max-width: 90%;
margin:0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
position: relative;
top:30px;}

.caja-select-fav-act2{
padding-top: 10px;
width:100%;
margin:0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.caja-select-fav-act1{
width: 100%;
margin: 0;
border-top: none;
padding-top: 0;}

.caja-select-option-fav{

width:31%;
margin:0;}


.titulo-fav-act{
font-size: 25px;
margin:0;
text-align: left;
color:#fff;
font-weight: 700;}

.subtitulo-fav-act{
font-size: 15px;
margin:10px 0 0;
text-align: left;
color:#fff;
font-weight: 400;}

.texto-select-fav{
    transition: font-size 0.3s ease;
font-size: 14px;
margin:10px 0 0;
text-align: left;
color:#00205B;
font-weight: 700;}


.bloque-marca-fav-act{
width:1400px;
max-width: 90%;
margin:130px auto 70px;}

.caja-select-fav-act1-blue{
width: 100%;
margin:6% 0 0;
padding-top: 15px;}


.titulo-fav-act-blue{
font-size: 25px;
margin:0;
text-align: left;
color:#00205B;
font-weight: 700;}

.caja-carrusel-marca-fav{
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.caja-select-fav-act3{
    overflow: hidden;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;}

.caja-int-select-fav-act2{
width:100%;
margin:0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;}

.caja-select-option-fav2{
    min-width: 23%;  /* Cada elemento ocupa el 25% del contenedor */
    box-sizing: border-box;
width:24%;
margin:0;}

.icon-arrow-left{
display:block;
width:35px;
margin:0;
position: relative;
border-radius: 35px 0 0 35px;
overflow: hidden;
top:-20px;}
  .icon-arrow-left:hover {  
            border-top: 2px solid #00205B;     
            border-left: 2px solid #00205B;
            border-bottom: 2px solid #00205B;
            border-radius: 35px 0 0 35px;
           
        }

.icon-arrow-right{
    display:block;
width:35px;
margin:0;
position: relative;
border-radius: 35px 0 0 35px;
overflow: hidden;
top:-20px;}

        .icon-arrow-right:hover {  
           border-top: 2px solid #00205B;     
           border-right: 2px solid #00205B;
           border-bottom: 2px solid #00205B;
           border-radius: 0 35px 35px 0;
          
       }

.texto-select-fav2{
    transition: font-size 0.3s ease;
font-size: 15px;
margin:5px 0 0;
text-align: left;
color:#00205B;
font-weight: 400;}

.bloque-categorias-fav-act{
    padding-top: 2%;
width:1400px;
max-width: 90%;
margin:0 auto;}

.dos-columnas-fav-act{
width:100%;
margin:0 auto 35px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;}

.caja-uno-column-fav-act{
width:34.5%;
margin:0 20px 0 0;}

.caja-dos-column-fav-act{
width:63.5%;
margin:0;}
.img-novedades-desk-fav-act-d{

width:100%;
display: block;
margin:0;
border-radius: 10px;}

.img-novedades-desk-fav-act{
       border: 4px solid transparent;
  border-radius: 10px;
     
  cursor: pointer;
width:100%;
display: block;
margin:0;
border-radius: 10px;}
.img-novedades-desk-fav-act:hover {
  border: 4px solid #00205B; /* borde azul en hover */
}
.img-novedades-mobile-fav-act-d{
    display: none;}
.img-novedades-mobile-fav-act{
display: none;}

.texto-novedades-fav-act{
    transition: font-size 0.3s ease;
font-size: 13px;
margin:10px 0 0;
font-weight: 400;
color:#00205B !important;
}


.caja-uno-tres-column-fav-act{
width:25.5%;
margin:0;}
.caja-uno-tres-column-fav-actt{
width:33%;
margin:0;}

.caja-dos-tres-column-fav-act{
width:45%;
margin:0;}
.caja-dos-tres-column-fav-acta{
width:40%;
margin:0;}

.caja-cuatro-column-fav-act{
width:23.5%;
margin:0;}

.caja-banner-fav-act{
    padding-top: 2%;
width:100%;
margin:0;}

.caja-select-fav-act1-blue2{
width: 100%;
margin:0;
/* border-top: 3px solid #00205B; */
padding-top: 15px;}


.bloque-product-exclusive-fav-act{
width:1400px;
max-width: 90%;
margin:70px auto}


.bloque-product-exclusive-fav-acts{
width:1400px;
max-width: 90%;
margin:156px auto -153px;}

.bloque-contenido-fav-act{
width:1400px;
max-width: 90%;
margin:70px auto;}

.caja-titulo-fav-act{
width:100%;
margin:0 auto;}

.titulo-content-fav-act{
font-size: 25px;
margin:0 auto;
text-align: left;
color:#00205B;
font-weight: 700;}

.caja-categorias-tabs{
    cursor: pointer;
width:100%;
margin:30px auto;
border-bottom: 2px solid #00205B;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;}

.tab-fav-cate-act-active{
width:auto;
margin:0;}

.tab-fav-cate-act-inactive{
width:auto;
margin:0;}
#mobb{
    display: none !important;
}

.texto-tab-cate-fav-act-active{
font-size: 18px;
margin:0;
text-align: left;
color:#00205B;
font-weight: 700;
padding:0 0 5px;
border-bottom: 6px solid #00205B;}

.texto-tab-cate-fav-act-inactive{
font-size: 18px;
margin:0;
text-align: left;
color:#00205B80;
font-weight: 700;
padding:0 40px 5px ;}

.banner-full-fav-act{
width:100%;
margin:70px auto;}
.banner-full-fav-act1{
    padding-top: 5%;
width:100%;
}

.img-banner-desk-fav-act{
    border: 4px solid transparent;
width:100%;
margin:0 auto;
display: block;}
.img-banner-desk-fav-act:hover{
    border-color: #00205B; 
}

.img-banner-mobile-fav-act{
display: none;}

.img-marca-favorito-act-desk{
       border: 4px solid transparent;
  border-radius: 10px;
     
  cursor: pointer;
width:100%;
margin:0;}

.img-marca-favorito-act-desk:hover {
  border: 4px solid #00205B; /* borde azul en hover */
}


.cajas-marcas-favoritos-actual{
width:100%;
margin:30px auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;}

.caja-marca-fav-act{
width:18%; margin:0 0 20px;
display: flex;
justify-content: center;
align-items: center;}

.cajas-categorias-favoritos-actual{
    padding-top: 50px;
width:100%;
margin:0 auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;}

.box-cate-fav-act{
    display: inline-block;
  padding: 10px;
  border: 2px solid #EDEDED; /* borde por defecto */
  border-radius: 10px;
     
  cursor: pointer;
width:9%;
margin:0;
flex-direction: column;
align-items: center;
justify-content: center;}


.box-cate-fav-act:hover {
  border: 2px solid #00205B; /* borde azul en hover */
}

.box-cate-fav-act-arrow{
width:9%;
margin:0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.img-produc-favorito-act{
width:100%;
 margin:0;
/*  border-radius:100px;
 border:1px solid #EDEDED; */}
 
.img-produc-favorito-act-arrow{
width:80%; margin:0;
position: relative;
bottom:8px;}

.text-product-favorito-act{
    transition: font-size 0.3s ease;
font-size: 12px;
margin:10px 0 0; 
text-align: center;
font-weight: 400;
color:#00205B;}




@media screen and (max-width:1600px) {

.titulo-fav-act {
font-size: 23px;
margin: 0;}

.subtitulo-fav-act {
font-size: 14px;
margin: 10px 0 0;}

.titulo-fav-act-blue {
font-size: 23px;
margin: 0;}

.bloque-marca-fav-act {
width: 1400px;
max-width: 90%;
margin: 110px auto 60px;}

.titulo-content-fav-act{
font-size: 23px;
margin:0 auto;}
.subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 14px;
            }
            .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 15px;
            }
            .img-flecha-articulos-nuevo-tendencia-home {
                width: 15px;
            }
}


@media screen and (max-width:1400px) {
    .img-flecha-articulos-nuevo-tendencia-home {
                width: 14px;
            }
    .subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 13px;
            }
            .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 14px;
            }
.box-seleccion-fav-act {
width: 100%;
margin: 0 auto;
height: 160px;}

.caja-select-fav-act2 {
width: 100%;
margin: 0;}

.caja-select-fav-act1 {
width: 100%;
margin: 0;
border-top: none;
padding-top: 0;}

.titulo-fav-act {
font-size: 21px;
margin: 0;}

.subtitulo-fav-act {
font-size: 12px;
margin: 10px 0 0;}

.titulo-fav-act-blue {
font-size: 21px;
margin: 0;}

.caja-select-fav-act1-blue {
width: 100%;
margin:7% 0 0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.caja-carrusel-marca-fav{
width: 100%;
margin: 20px auto 0;}

.dos-columnas-fav-act{
width:100%;
margin:0 auto 30px;}

.caja-banner-fav-act{
width: 100%;
margin: 0;}

.caja-select-fav-act1-blue2 {
width: 100%;
margin:0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.titulo-content-fav-act {
font-size: 21px;
margin: 0;}

}




@media screen and (max-width:1200px) {
    .img-flecha-articulos-nuevo-tendencia-home {
                width: 13px;
            }
    .subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 12px;
            }
            .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 13px;
            }
.caja-int-select-fav-act {
width: 1400px;
max-width: 90%;
margin: 0 auto;
top: 20px;}

.box-seleccion-fav-act {
width: 100%;
margin: 0 auto;
height: 130px;}

.caja-select-option-fav {
width: 250px;
margin: 0 20px 0 0;
min-width: 250px;}

.caja-select-fav-act1 {
width: 100%;
margin: 10px 0 10px;
/* border-top: 3px solid #fff; */
padding-top: 10px;}

.caja-select-fav-act2 {
width: 100%;
margin: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
overflow-x: scroll;
overflow-y: hidden;}

.caja-select-fav-act2::-webkit-scrollbar {
display: none; /* for Chrome, Safari, and Opera */}

.caja-select-fav-act3 {
width: 100%;
margin: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
overflow-x: scroll;
overflow-y: hidden;}

.caja-select-fav-act3::-webkit-scrollbar {
display: none; /* for Chrome, Safari, and Opera */}

.caja-carrusel-marca-fav{
width: 100%;
margin: 20px auto 0;}


.titulo-fav-act {
font-size: 20px;
margin: 0;}

.subtitulo-fav-act {
font-size: 12px;
margin: 10px 0 0;}

.titulo-fav-act-blue {
font-size: 20px;
margin: 0;}

.caja-select-fav-act1-blue {
width: 100%;
margin:7% 0 0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.caja-select-option-fav2 {
width: 200px;
min-width: 200px;}

.bloque-marca-fav-act {
width: 1400px;
max-width: 90%;
margin:90px auto 60px;}

.icon-arrow-left{
display:block;
width:14px;
margin:0;}

.icon-arrow-right{
display:block;
width:14px;
margin:0;}


.texto-novedades-fav-act {
font-size: 12px;
margin: 7px 0 0;}

.caja-banner-fav-act{
width: 100%;
margin: 0;}

.caja-select-fav-act1-blue2 {
width: 100%;
margin:0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.titulo-content-fav-act {
font-size: 20px;
margin: 0;}

.texto-tab-cate-fav-act-active{
font-size: 16px;
margin:0;}

.texto-tab-cate-fav-act-inactive{
font-size: 16px;
margin:0;}

.text-product-favorito-act{
font-size: 12px;
margin:10px 0 0;}

}


@media screen and (max-width:1024px) {

.box-seleccion-fav-act {
width: 100%;
margin: 0 auto;
height: 125px;}

.titulo-fav-act {
font-size: 18px;
margin: 0;}

.caja-select-fav-act1 {
width: 100%;
margin: 10px 0 10px;
/* border-top: 3px solid #fff; */
padding-top: 10px;}

.caja-select-fav-act2 {
width: 100%;
margin: 0;}

.texto-select-fav{
font-size: 12px;
margin:10px 0 0;}

.titulo-fav-act-blue {
font-size: 18px;
margin: 0;}

.caja-select-fav-act1-blue {
width: 100%;
margin:7% 0 0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.caja-carrusel-marca-fav {
width: 100%;
margin: 20px auto 0;}

.icon-arrow-left{
display:block;
width:12px;
margin:0;}

.icon-arrow-right{
display:block;
width:12px;
margin:0;}

.texto-select-fav2{
font-size: 13px;
margin:5px 0 0;}

.caja-banner-fav-act {
width: 100%;
margin: 0;}

.caja-select-fav-act1-blue2 {
width: 100%;
margin:0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.bloque-product-exclusive-fav-act {
width: 1400px;
max-width: 90%;
margin: 50px auto;}
.bloque-product-exclusive-fav-acts {
width: 1400px;
max-width: 90%;
margin: 121px auto -121px;
}
.titulo-content-fav-act {
font-size: 18px;
margin: 0;}

.bloque-contenido-fav-act {
width: 1400px;
max-width: 90%;
margin: 50px auto;}

.banner-full-fav-act{
width:100%;
margin: 50px auto;}
.banner-full-fav-act1{
width:100%;
}

.text-product-favorito-act {
font-size: 11px;
margin: 10px 0 0;}


}


@media screen and (max-width:880px) {
    .img-flecha-articulos-nuevo-tendencia-home {
                width: 12px;
            }
    .btn-articulos-nuevo-tendencia-home-h {
                margin-top: 6px;
            }
    .subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 11px;
            }
            .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 12px;
            }
.caja-select-fav-act1 {
width: 100%;
margin: 10px 0 10px;
/* border-top: 3px solid #fff; */
padding-top: 10px;}

.caja-select-fav-act2 {
width: 100%;
margin: 0;}


.caja-select-fav-act1-blue {
width: 100%;
margin:9% 0 0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.caja-carrusel-marca-fav {
width: 100%;
margin: 20px auto 0;}

.caja-uno-column-fav-act{
width:35%;
margin:0;}

.caja-dos-column-fav-act {
width: 62.8%;
margin: 0;}

.texto-novedades-fav-act {
font-size: 11px;
margin: 7px 0 0;}

.caja-banner-fav-act{
width: 100%;
margin: 0;}

.caja-select-fav-act1-blue2 {
width: 100%;
margin:0;
/* border-top: 3px solid #00205B; */
padding-top: 10px;}

.titulo-fav-act {
font-size: 16px;
margin: 0;}

.titulo-fav-act-blue {
font-size: 16px;
margin: 0;}

.titulo-content-fav-act {
font-size: 16px;
margin: 0;}

}



@media screen and (max-width:768px) {
    #mobb{
    display: block !important;
}

#mobbd{
    display: block !important;
}

#mobbdd{
    display: block !important;
}
    #blqu{
            display: none !important;
        }
    #vida{display: none !important;}
    #vidas{display: block !important;}
    .text-let{
        margin-left: auto !important;
    }
    .text-lett{
        margin-left: auto !important;
    }
    .btn-articulos-nuevo-tendencia-home-h {
                margin-top: 0;
            }
    .subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 16px;
            }
            .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 17px;
            }
.img-desk-fav-act{
display: none;}

.img-mobile-fav-act{
width:100%;
margin:0 auto;
display: block;}

.img-select-fav-desk1{
    display: none;}
    
    .img-select-fav-mobile1{
    width:100%;
    margin:0 auto;
    display:block;
    border-radius:8px;}

.img-select-fav-desk{
display: none;}

.img-select-fav-mobile{
width:100%;
margin:0 auto;
display:block;
border-radius:8px;}

.caja-int-select-fav-act {
width: 1400px;
max-width: 90%;
margin: 0 auto;
top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;}

.caja-select-fav-act1 {
width: 100%;
margin: 0;
border-top: none;
padding-top: 0;}

.titulo-fav-act {
font-size: 20px;
margin: 0;}

.subtitulo-fav-act {
font-size: 15px;
margin: 5px 0 0;}

.caja-select-option-fav {
width: 250px;
margin: 0 15px 0 0;
min-width: 250px;}

.caja-select-fav-act2 {
width: 100%;
margin: 20px 0;}

.box-seleccion-fav-act {
width: 100%;
margin: 0 auto;
height: 190px;}

.titulo-fav-act-blue {
font-size: 20px;
margin: 0;}

.caja-select-fav-act1-blue {
width: 100%;
margin: 0;
border-top: none;
padding-top: 0;}

.caja-carrusel-marca-fav {
width: 100%;
margin: 20px auto 0;}

.caja-int-select-fav-act2 {
width: 1400px;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;}

.caja-select-option-fav2 {
width: 200px;
min-width: 200px;}

.icon-arrow-left{
display:none;}

.icon-arrow-right{
display:none;}

.caja-select-fav-act3 {
width: 100%;
margin: 0;}
.img-flecha-articulos-nuevo-tendencia-home {
                width: 17px;
                margin: 0 0 0 8px;
            }

.bloque-marca-fav-act {
width: 1400px;
max-width: 90%;
margin: 80px auto 30px;}

.img-novedades-desk-fav-act{
display: none;}

.img-novedades-desk-fav-act-d{
    display: none;}

.img-novedades-mobile-fav-act{
width:100%;
display: block;
margin:0;
border-radius: 8px;}
.img-novedades-mobile-fav-act-d{
width:100%;
display: block;
margin:0;
border-radius: 8px;}

.texto-novedades-fav-act{
font-size: 14px;
margin:10px 0 0;}

.dos-columnas-fav-act {
width: 100%;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;}

.caja-uno-column-fav-act {
width: 100%;
margin: 0 0 35px;}

.caja-dos-column-fav-act {
width: 100%;
margin: 0;}

.caja-uno-tres-column-fav-act {
width: 49%;
margin:30px 0}
.caja-uno-tres-column-fav-actt {
width: 49%;
margin:30px 0}

.caja-dos-tres-column-fav-act {
width: 100%;
margin: 0 0 30px;}
.caja-dos-tres-column-fav-acta {
width: 100%;
margin: 0 0 30px;}

.caja-cuatro-column-fav-act {
width: 49%;
margin:0 0 30px;}

.caja-banner-fav-act {
width: 100%;
margin: 20px 0;}

.caja-select-fav-act1-blue2 {
width: 100%;
margin: 0;
border-top: none;
padding-top: 0;}


.bloque-product-exclusive-fav-act {
width: 1400px;
max-width: 90%;
margin: 30px auto;}
.bloque-product-exclusive-fav-acts {
width: 1400px;
max-width: 90%;
margin: 60px auto -48px;}

.titulo-content-fav-act {
font-size: 20px;
margin: 0;}


.bloque-contenido-fav-act {
width: 1400px;
max-width: 90%;
margin: 30px auto;}

.banner-full-fav-act {
width:100%;
margin: 30px auto;}
.banner-full-fav-act1 {
width:100%;
}

.img-banner-desk-fav-act{
display: none;}

.img-banner-mobile-fav-act{
width:100%;
margin:0 auto;
display: block;}


.caja-marca-fav-act{
width:48%; margin:0 0 20px;
display: flex;
justify-content: center;
align-items: center;}


.cajas-categorias-favoritos-actual{
width: 100%;
margin: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
overflow-x: scroll;
overflow-y: hidden;}

.cajas-categorias-favoritos-actual::-webkit-scrollbar {
display: none; /* for Chrome, Safari, and Opera */}

.box-cate-fav-act {
width: 103px;
margin: 0 20px 0 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-width: 103px;}

.box-cate-fav-act-arrow {
display: none;}

}


@media screen and (max-width:580px) {
    .caja-tab-vetco {
border-radius: 40px;
width: 100%;
max-width: 100%;
margin: 20px auto 0;}
    .taeb-switch .taeb {
display: inline-block;
width: 50%;
padding: 12px 0;
z-index: 1;
position: relative;
cursor: pointer;
transition: color 200ms;
font-size: 16px;}
    .img-flecha-articulos-nuevo-tendencia-home {
                width: 14px;
            }

    .subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 13px;
            } .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 14px;
            }
.caja-uno-column-fav-act {
width: 100%;
margin: 0 0 30px;}

.caja-uno-tres-column-fav-act {
width: 49%;
margin:25px 0;}

.caja-dos-tres-column-fav-act {
width: 100%;
margin: 0 0 25px;}
.caja-dos-tres-column-fav-acta {
width: 100%;
margin: 0 0 25px;}

.caja-cuatro-column-fav-act {
width: 49%;
margin:0 0 25px;}

.img-novedades-mobile-fav-act {
width: 100%;
display: block;
margin: 0;
border-radius: 5px;}

.img-select-fav-mobile {
width: 100%;
margin: 0 auto;
display: block;
border-radius: 5px;}

.bloque-product-exclusive-fav-act {
width: 1400px;
max-width: 90%;
margin: 20px auto;}
.bloque-product-exclusive-fav-acts {
width: 1400px;
max-width: 90%;
margin: 60px auto -48px;}

.bloque-contenido-fav-act {
width: 1400px;
max-width: 90%;
margin: 30px auto;}

.tab-fav-cate-act-active {
width: 50%;
margin: 0;}

.tab-fav-cate-act-inactive {
width: 50%;
margin: 0;}

.texto-tab-cate-fav-act-active{
font-size: 13px;
margin:0;}

.texto-tab-cate-fav-act-inactive {
font-size: 13px;
margin: 0;
padding: 0 0 5px;
text-align: center;}

.banner-full-fav-act{
width:100%;
margin: 20px auto;}
.banner-full-fav-act1{
width:100%;
}

.box-cate-fav-act {
width: 93px;
margin: 0 20px 0 0;
min-width: 93px;}


}


@media screen and (max-width:450px) {

.titulo-fav-act {
font-size: 17px;
margin: 0;}

.subtitulo-fav-act {
font-size: 12px;
margin: 5px 0 0;}

.caja-select-fav-act2 {
width: 100%;
margin: 15px 0;}

.box-seleccion-fav-act {
width: 100%;
margin: 0 auto;
height: 150px;}

.caja-select-option-fav {
width: 220px;
margin: 0 15px 0 0;
min-width: 220px;}

.caja-int-select-fav-act {
width: 1400px;
max-width: 90%;
margin: 0 auto;
top: 15px;}

.texto-select-fav{
font-size: 12px;
margin:5px 0 0;}

.titulo-fav-act-blue {
font-size: 17px;
margin: 0;}

.caja-carrusel-marca-fav {
width: 100%;
margin: 15px auto 0;}


.caja-select-option-fav2 {
width: 190px;
min-width: 190px;}

.texto-novedades-fav-act{
font-size: 12px;
margin:5px 0 0;}


.caja-banner-fav-act {
width: 100%;
margin: 15px 0;}

.titulo-content-fav-act {
font-size: 17px;
margin: 0;}

.caja-marca-fav-act{
width:48%; margin:0 0 15px;
display: flex;
justify-content: center;
align-items: center;}

}


@media screen and (max-width:380px) {
    .img-flecha-articulos-nuevo-tendencia-home {
                width: 12px;
            }
    .subtitulo2-articulos-nuevo-tendencia-home-h {
                font-size: 11px;
            }
            .subtitulo-articulos-nuevo-tendencia-home-h {
                font-size: 12px;
            }
.caja-select-option-fav {
width: 200px;
margin: 0 10px 0 0;
min-width: 200px;}

.caja-uno-tres-column-fav-act {
width: 49%;
margin:20px 0}

.caja-dos-tres-column-fav-act {
width: 100%;
margin: 0 0 20px;}
.caja-dos-tres-column-fav-acta {
width: 100%;
margin: 0 0 20px;}

.caja-cuatro-column-fav-act {
width: 49%;
margin:0 0 20px;}

.texto-novedades-fav-act {
font-size: 10px;
margin: 5px 0 0;}

.caja-marca-fav-act{
width:48%; margin:0 0 13px;
display: flex;
justify-content: center;
align-items: center;}



}
 